<div id="default">

<img src="assets/img/preview.png" />

<div id="presentation">
<h2>Gérer ses tâches n'a jamais été aussi simple.</h2>
<p>
	 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis dui lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam viverra mollis mi id malesuada. Nam sit amet lacus eu arcu laoreet vehicula. Aenean scelerisque magna ut ante pellentesque at faucibus massa mattis. Sed ac justo arcu, nec rhoncus risus. Praesent ipsum nibh, ullamcorper et molestie at, egestas sed nibh. Aenean cursus mi id nulla ornare aliquam. Vivamus tincidunt turpis sit amet ligula accumsan laoreet. Cras mattis aliquet nibh, ut placerat mauris luctus eget. Cras sit amet ligula sapien, at vestibulum lectus. Aliquam quis bibendum ante. Nunc blandit sapien vel urna elementum eu scelerisque libero semper. In eu mauris quis ipsum luctus sagittis. Duis quis vestibulum orci. Duis risus nibh, semper in laoreet eu, fringilla vitae velit. 
</p><br />
<p class="highlight"><a class="h" href="index.php?p=connect">Créez vous un compte maintenant !</a></p>
<p class="discreet">( gratuit )</p>
</div>

</div>