<div id="nav_bar">
	<a href="index.php?p=listing_cat_pro"><img src="assets/img/pro.png" /></a>
	<a href="index.php?p=listing_cat_perso"><img src="assets/img/perso.png" /></a>
	<a href="index.php?p=listing_cat_menage"><img src="assets/img/menage.png" /></a>
	<a href="index.php?p=home"><img src="assets/img/tous.png" /></a>
</div>

<div id="blocs">
		
	<article id="bloc-id-xxxx" class="bloc bloc-size-2 bloc-color-1">
	   <div class="bloc-action hidden">
	      <a href="#"><img src="assets/img/add.png" alt="Ajouter" /></a>
	      <a href="#"><img src="assets/img/edit.png" alt="Edit" /></a>
	      <a href="#"><img src="assets/img/del.png" alt="Supprimer" /></a>
	   </div>
	   <header>
	      <h3 class="title_block"><a href="#"><span class="bold">Personnel</span>|banque</a></h3>
	   </header>
	   <div class="bloc-content">
	      <p>
	      	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis dui lorem...
	     </p>
	   </div>
	   <div class="more">
	      <span><a href="#">more...</a></span>
	   </div>
	</article>
	
	<article id="bloc-id-xxxx" class="bloc bloc-size-1 bloc-color-2">
	   <div class="bloc-action hidden">
	      <a href="#"><img src="assets/img/add.png" alt="Ajouter" /></a>
	      <a href="#"><img src="assets/img/edit.png" alt="Edit" /></a>
	      <a href="#"><img src="assets/img/del.png" alt="Supprimer" /></a>
	   </div>
	   <header>
	<h3 class="title_block"><a href="#"><span class="bold">Ménage</span>|enfants</a></h3>
	   </header>
	   <div class="bloc-content">
	      <p>
	      	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis dui lorem...
	     </p>
	   </div>
	   <div class="more">
	      <span><a href="#">more...</a></span>
	   </div>
	</article>
	
	<article id="bloc-id-xxxx" class="bloc bloc-size-1 bloc-color-3">
	   <div class="bloc-action hidden">
	      <a href="#"><img src="assets/img/add.png" alt="Ajouter" /></a>
	      <a href="#"><img src="assets/img/edit.png" alt="Edit" /></a>
	      <a href="#"><img src="assets/img/del.png" alt="Supprimer" /></a>
	   </div>
	   <header>
	<h3 class="title_block"><a href="#"><span class="bold">Professionel</span>|emploi</a></h3>
	   </header>
	   <div class="bloc-content">
	      <p>
	      	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis dui lorem...
	     </p>
	   </div>
	   <div class="more">
	      <span><a href="#">more...</a></span>
	   </div>
	</article> 
	<article id="bloc-id-xxxx" class="bloc bloc-size-1 bloc-color-3">
	   <div class="bloc-action hidden">
	      <a href="#"><img src="assets/img/add.png" alt="Ajouter" /></a>
	      <a href="#"><img src="assets/img/edit.png" alt="Edit" /></a>
	      <a href="#"><img src="assets/img/del.png" alt="Supprimer" /></a>
	   </div>
	   <header>
	<h3 class="title_block"><a href="#"><span class="bold">Professionel</span>|emploi</a></h3>
	   </header>
	   <div class="bloc-content">
	      <p>
	      	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis dui lorem...
	     </p>
	   </div>
	   <div class="more">
	      <span><a href="#">more...</a></span>
	   </div>
	</article> 
	
	<article id="bloc-id-xxxx" class="bloc bloc-size-2 bloc-color-1">
	   <div class="bloc-action hidden">
	      <a href="#"><img src="assets/img/add.png" alt="Ajouter" /></a>
	      <a href="#"><img src="assets/img/edit.png" alt="Edit" /></a>
	      <a href="#"><img src="assets/img/del.png" alt="Supprimer" /></a>
	   </div>
	   <header>
	 		<h3 class="title_block"><a href="#"><span class="bold">Personnel</span>|banque</a></h3>
	   </header>
	   <div class="bloc-content">
	      <p>
	      	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis dui lorem...
	     </p>
	   </div>
	   <div class="more">
	      <span><a href="#">more...</a></span>
	   </div>
	</article>
	
	<article id="bloc-id-xxxx" class="bloc bloc-size-1 bloc-color-2">
	   <div class="bloc-action hidden">
	      <a href="#"><img src="assets/img/add.png" alt="Ajouter" /></a>
	      <a href="#"><img src="assets/img/edit.png" alt="Edit" /></a>
	      <a href="#"><img src="assets/img/del.png" alt="Supprimer" /></a>
	   </div>
	   <header>
		<h3 class="title_block"><a href="#"><span class="bold">Ménage</span>|enfants</a></h3>
	   </header>
	   <div class="bloc-content">
	      <p>
	      	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis dui lorem...
	     </p>
	   </div>
	   <div class="more">
	      <span><a href="#">more...</a></span>
	   </div>
	</article>
	<article id="bloc-id-xxxx" class="bloc bloc-size-1 bloc-color-2">
	   <div class="bloc-action hidden">
	    	<a href="#"><img src="assets/img/add.png" alt="Ajouter" /></a>
	      <a href="#"><img src="assets/img/edit.png" alt="Edit" /></a>
	      <a href="#"><img src="assets/img/del.png" alt="Supprimer" /></a>
	   </div>
	   <header>
		<h3 class="title_block"><a href="#"><span class="bold">Ménage</span>|enfants</a></h3>
	   </header>
	   <div class="bloc-content">
	      <p>
	      	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis dui lorem...
	     </p>
	   </div>
	   <div class="more">
	      <span><a href="#">more...</a></span>
	   </div>
	</article>

	<div style="clear:both;" > </div>
</div>
<div id="moar_notes">
	<p>Plus de notes...</p>
</div>
